<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/topbar %>
    <div class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-one-third">
            <h1 class="title is-3">Welcome to いいね!</h1>
            <h3 class="subtitle is-4">What is this?</h3>
            <p>
            The hottest new Japanese-English language exchange!
            Join an event and start meeting new people, doing fun things,
            learning useful skills, and practising your english or japanese language skills!
            いいね?
            </p>
          </div>
          <div class="column is-two-thirds">
            <% for (const day of locals.events) { %>
              <h1 class="title is-6 is-uppercase"><%= day.date %></h1>
              <% for (const event of day.events) { %>
                <% include partials/event-card %>
              <% } %>
              <br>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
