<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% if (typeof user !== 'undefined' && user) { %>
      <%= user.first_name %>
      <a class="navbar-item is-white" href="/logout">
        Log out
      </a>
    <% } else { %>
      <a class="navbar-item is-white" href="/login">
        Log in
      </a>
      <a class="navbar-item is-white" href="/signup">
        Sign up
      </a>
    <% } %>
  </body>
</html>
