<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/topbar %>
    <div class="section">
      <div class="container">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <span class="title is-5">Upcoming events...</span>
            </div>
          </div>
          <% if (locals.userIsOrganizer) { %>
          <div class="level-right">
            <div class="level-item">
              <a class="button is-primary" href="/new-event">New Event</a>
            </div>
          </div>
          <% } %>
        </div>
        <div class="section">
          <% for (const event of locals.events) { %>
          <%= JSON.stringify(event) %>
          <hr />
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
