<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>IINE</strong>
    </a>
    <a id="navbar-burger" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
    </div>
    <div class="navbar-end">
      <% if (locals.userIsOrganizer) { %>
      <div class="navbar-item">
        <a class="button is-primary is-outlined" href="/new-event">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New Event</span>
        </a>
      </div>
      <% } %>

      <hr class="navbar-divider">

      <% if (typeof user !== 'undefined' && user) { %>
      <div class="navbar-item">
        <%= user.first_name %>
      </div>
      <div class="navbar-item">
        <a class=button is-light" href="/logout">Log out</a>
      </div>
      <% } else { %>
      <div class="navbar-item">
        <a class="button is-primary" href="/signup"><strong>Sign up</strong></a>
      </div>
      <div class="navbar-item">
        <a class="button is-light" href="/login">Log in</a>
      </div>
      <% } %>
    </div>
  </div>
</nav>

<script src="/js/nav.js"></script>
